.best
    background-color: var(--compponent-bg-default)
    .top_block
        text-align: center
        .title
            color: var(--compponent-title-default)
        .sign
            color: var(--compponent-text-default)

    .cont_best
        justify-content: center
        display: flex
        flex-wrap: wrap