@import '../../style/variable.sass'
    
.footer

    position: absolute
    background-color: #e8a567
    background-color: var(--compponent-footer-default)
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex: 0 0 auto
    transition: 1s
    bottom: 0
    .icon_cont
        margin: 2px 10px
        svg
            height: 20px
            width: 20px
            padding: 0 10px




// @media (min-width: 576px) 
//     .footer
//         border: 5px solid #63482e



// @media (min-width: 768px)
//     .footer
//         border: 5px solid #1d140b


// @media (min-width: 992px)
//     .footer
//         border: 5px solid #e8994f



// @media (min-width: 1200px)
//     .footer
//         border: 5px solid #e87f1e
 