@import-normalize


body
    transition: 1s
    background-color: var(--compponent-bg-default)
    margin: 0


body,html,#root
  height: 100%
  .App
    display: flex
    flex-direction: column
    position: relative
    overflow: hidden

.content
  box-sizing: border-box