
@import-normalize


body
    transition: 1s
    background: var(--compponent-body-default)
    margin: 0


body,html,#root
  height: 100%
  .App
    display: flex
    flex-direction: column
    height: 100%
    position: relative
    // overflow: hidden

.content
  box-sizing: border-box